.configuration{
    padding: 50px;
}
.addButton{
    border: 0px;
    background-color: #5cb85c;
    color: white;
    padding:10px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}
.addButton:hover{
   background-color: #316e31;
}